header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: fit-content;
  justify-content: space-between !important;

  padding: 25px;
  box-sizing: border-box;
}

.container__left {
  width: 25%;
}

.container__mid {
  width: 50%;
}

.container__right {
  width: 25%;
}

.container__left > p {
  text-align: center;
}

.container-social-icons {
  justify-content: center !important;
}

.container-social-icons > img {
  width: 38px;
  height: auto;
  margin: 0 10px;
}

.container__right > img {
  width: 100%;
  height: auto;
}

.dot-shape {
  border: 2px solid #aa9e70;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
