html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
}

body {
  top: 0px !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.sections {
  width: 95%;
  height: 100vh;
}

#section__1 {
  background-color: grey;
}

#section__2 {
  background-color: white;
}

#section__3 {
  background-color: grey;
}
