* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 78px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 24px;
}

span {
  font-size: 36px;
}

html {
  scroll-behavior: smooth;

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

body {
  position: relative;
  width: 90%;
  max-width: 980px;

  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  background-color: #000;
  color: #fff;

  font-family: 'Poppins', sans-serif;
}

hr {
  margin: 25px 0;
  width: 65%;
  height: 2px;
  border: 0;
  border-top: 2px dashed #aa9e70;
}

.text-cursive {
  font-family: 'Allura', cursive;
  font-weight: 400;
}

.text-xsmall {
  font-size: 16px !important;
}

.text-small {
  font-size: 18px !important;
}

.text-white {
  color: #fff;
}

.text-gold {
  color: #aa9e70;
}

.text-semibold {
  font-weight: bold;
}

.text-bold {
  font-weight: bolder;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-top {
  opacity: 0.2;
}

.img-mid {
  opacity: 0.6;
}

.section {
  height: fit-content;
  width: 100%;
}

.container-padding {
  padding: 0 50px;
}

.container-relative {
  position: relative;
}

.container-absolute {
  position: absolute;
}

.absolute-top {
  top: 0;
}

.absolute-bottom {
  bottom: 0;
}

.container-sponsors {
  justify-content: space-evenly !important;
  width: 100%;
}

.container-sponsors-padding {
  padding: 0 20px;
  box-sizing: border-box;
}

.container-sponsors > img {
  width: 120px;
  height: auto;
}

.space-100px {
  width: 100%;
  height: 100px;
}

.space-50px {
  width: 100%;
  height: 50px;
}

.space-25px {
  width: 100%;
  height: 50px;
}

.container-sponsors-with-details {
  width: 100%;
}

.sponsors-with-details {
  width: 480px;
  padding: 10px;
  box-sizing: border-box;
}

.sponsors-with-details > img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border: 2px solid #aa9e70;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.btn-callout {
  margin: 0 auto;
  background-color: #aa9e70;
  border: 0;
  border-radius: 25px;
  outline: none;
  width: 70%;
  padding: 15px 0;
  box-sizing: border-box;

  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
}

.space-top-bottom {
  margin: 10px 0;
}

.space-top-sm {
  margin-top: 25px;
}

.space-bottom-sm {
  margin-bottom: 25px;
}

.space-top-lg {
  margin-top: 120px;
}

.space-on-mobile-size {
  width: 100%;
  height: 0;
}

/* ******* FLEX CSS ******** */
/* ************************* */
.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-center-left {
  align-items: center;
  justify-content: flex-start;
}

.flex-center-right {
  align-items: center;
  justify-content: flex-end;
}


.flex-center-top {
  align-items: flex-start;
  justify-content: center;
}

.flex-row {
  flex-flow: row nowrap;
}

.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-column {
  flex-flow: column nowrap;
}

.flex-column-wrap {
  flex-flow: column wrap;
}

/* GOOGLE TRANSLATE */
#google_translate_element {
  position: absolute;
  top: 0;
  z-index: 999;
}

body {
  top: 0px !important; 
  }
  
  .goog-logo-link {
      display:none !important;
  } 

  .goog-te-combo {
    background-color: transparent;
    color: #aa9e70;
    font-size: 10px !important;
  }
      
  .goog-te-gadget {
      color: transparent !important;
  }
  
  .goog-te-banner-frame.skiptranslate {
  display: none !important;
  } 

/* MOBILE RESPONSIVE */
@media screen and (max-width: 700px) {
  h1 {
    font-size: 48px !important;
  }
  
  h2 {
    font-size: 24px !important;
  }
  
  .text-xsmall {
    font-size: 12px !important;
  }
  
  .text-small {
    font-size: 16px !important;
  }

  p {
    font-size: 18px;
  }
  
  span {
    font-size: 14px;
  }

  .space-top-sm {
    margin-top: 5px;
  }

  .container-padding {
    padding: 0;
  }

  .space-100px {
    height: 50px;
  }

  .space-on-mobile-size {
    width: 100%;
    height: 0;
  }

  .btn-callout {
    width: 100%; 
    font-size: 12px;
  }

  .space-bottom-sm {
    margin-bottom: 5px;
  }
  
  .space-top-lg {
    margin-top: 50px;
  }
}

@media screen and (max-width: 465px) {
  .space-top-lg {
    margin-top: 20px;
  }

  .space-100px {
    height: 25px;
  }

  .space-on-mobile-size {
    height: 150px;
  }

  h1 {
    font-size: 24px !important;
  }
  
  h2 {
    font-size: 14px !important;
  }

  p {
    font-size: 9px;
  }
  
  .text-xsmall {
    font-size: 8px !important;
  }
  
  .text-small {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 300px) {
  .space-on-mobile-size {
    height: 200px;
  }
}