.btn__totop {
  position: fixed;
  right: 0;
  bottom: 5px;

  opacity: 0;
  cursor: pointer;
  text-decoration: none;

  padding: 15px;
  background-color: green;
  color: white;
  border-radius: 15px;

  transition: all 0.2s ease-in;
}

.btn__totop__show {
  opacity: 1;
}
